header {
    width: 100%;
    height: 638px;
    background: #4682B4;
}

#position{
    position: relative;
    display: block;
}

#box{
    width: 300px;
    height: 50px;
    background: #008B8B;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 4px 10px #000;
    margin: 0 auto;
}
    
a:link{
    background-color:transparent; 
    text-decoration:none
}

a:visited {
    background-color:transparent; 
    text-decoration:none
}

a:hover {
    text-shadow: 0 0 10px #FFF;
 }

h1{
    font-family: Sans-Serif;
    color: white;
    text-align: center;
    text-shadow: 2px 3px 10px #000;
    margin: 0 auto;
}

p{
    font-family: Sans-Serif;
    color: white;
    text-align: center;
    text-shadow: 2px 3px 10px #000;
    margin: 0 auto;
}